* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  background-color: #ccc;
}

.cover {
  width: 100vw;

  /* background-color: pink; */
  display: grid;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: 0 auto;
  width: 100vw;
  min-width: 1000px;
  background-color: #fff;
  border-bottom-left-radius: 72px;
}

/* navbar */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 8em;
}

.logo {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff;

  /* text-align: center; */
}

.hero {
  width: 100vw;
  height: 800px;

  /* border: 1px solid #fff; */
  background-image: url('./images/header-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.hero-title,
.hero-description,
.hero-supporting-text,
.hero-img-cover {
  width: 900px;
  max-width: 920px;
}

.hero-title {
  /* width: 920px; */
  height: 122px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.4px;
  color: #091e42;
}

.hero-description {
  /* width: 920px; */
  height: 98px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #344563;
}

.hero-supporting-text {
  text-align: left;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
}

.hero-img-cover {
  /* width: 920px; */
  height: 20px;
}

.hero-img-cover .hero-socials {
  width: 170px;
  height: 100%;
  object-fit: cover;
}

.menu-links {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.menu-links li {
  font-family: inherit;
  font-weight: 500;
  line-height: 20px;

  /* text-align: center; */
}

.menu-links li a {
  text-decoration: none;
  cursor: pointer;
}

.menu-links li a:hover {
  background-color: #7f8cff;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
}

.menu-links li a:visited {
  color: #5f6b80;
}

.menu-links li a:active {
  color: #d3d7e1;
}

.testimonial {
  margin: 2em auto;
  width: 1156px;
  min-width: 720px;
  min-height: 496px;
  background-color: #fff;
  border-radius: 8px;
  padding: 2em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.project-img {
  width: 544px;
  height: 448px;
  border-radius: 8px;

  /* object-fit: cover; */
}

.testimonial-left {
  max-width: 400px;
}

.testimonial-right {
  padding: 0.5em;
  max-width: 400px;

  /* min-width: 500px; */
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.person {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #091e42;
}

.job-title {
  width: 200px;
  height: auto;
}

.person-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.skills {
  width: 200px;
  height: auto;
}

.multipost-skills {
  width: 300px;
  height: auto;
}

.action-btn {
  width: 110px;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.3em;
  font-size: 16px;
  font-weight: 500;
  color: #6070ff;
  border: 1px solid #6070ff;
}

.action-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

/* about us  */
.footer-cover {
  width: 100vw;
  min-height: 900px;
  margin: 2em;

  /* background-color: yellow; */
  position: relative;

  /* display: grid;
    align-items: center;
    justify-content: center; */
}

.about-us {
  z-index: 1;
  margin: 0 auto;
  width: 100vw;
  min-width: 1156px;
  height: 800px;
  background-color: #fff;
  border-top-right-radius: 64px;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.about-left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.resume {
  font-size: 14px;
  font-weight: 600;
}

.about-right {
  max-width: 500px;
}

.about-img {
  width: 100%;
  height: auto;
}

/* contact form */
.contact {
  z-index: 2;
  position: absolute;
  top: 700px;

  /* left: 105px; */
  margin: 0 auto;
  width: 100vw;
  min-width: 1156px;

  /* max-width: 1200px; */
  padding: 2em;
  min-height: 500px;
  border-top-left-radius: 60px;
  background-color: #6070ff;
  display: grid;
  align-items: center;
  justify-content: center;
}

.contact-container {
  max-width: 800px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contact-header {
  /* text-align: center; */
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.contact-text {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.11em;
  width: 400px;
}

table {
  border-collapse: separate;
  border-spacing: 20px; /* Adjust the value to control the spacing */
}

table tr td input,
textarea {
  outline: none;
  border: none;
}

.input,
textarea {
  width: 327px;
  background-color: #fff;
  color: #2f2d2d;
  padding: 16px 8px;
  border-radius: 4px;
}

textarea {
  resize: none;
}

.contact-btn {
  /* margin-top: 0.5em; */
  text-align: left;
  outline: none;
  border: 1px solid #fff;
  padding: 1em 3em;
  color: #396df2;
  border-radius: 4px;
  background-color: #fff;
}

.contact-btn:hover {
  color: #091e42;
}

@media (min-width: 720px) {
  .cover {
    width: 100vw;
  }

  .header-container {
    width: 100vw;
  }

  .testimonial {
    max-width: 1000px;
    padding: 2em;
    max-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
  }

  .testimonial-left {
    max-width: 500px;
  }

  .testimonial-right {
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  .cover {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-container {
    width: 100%;
  }

  .footer-cover {
    width: 100%;
  }
}
